<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<body>
	<!-- Header -->
<%- include("./partials/header.ejs") %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/foto-horizontal.jpg" alt="Banner de ofertas" height="350px">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>



			<!-- Show the "ultimos" products -->
			

			<% for( let i = 0; i < listado.productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/detalle/<%= listado.productos[i].id %> "> 
						<figure class="product-box_image">
							<img src=" <%= listado.productos[i].imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= listado.productos[i].nombre %></h2>
							<p><%= listado.productos[i].descripcion %></p>
							<p><%= listado.productos[i].comentarios.length %></p>
						</article>
					</a>
				</section>
				</div>

			<% } %>



			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- PONEMOS QUE LA I COMIENCE EN 6 ASI MUESTRA LOS ULTIMOS PRODUCTOS -->
			
			<% for( let i = 6; i < listado.productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/detalle/<%= listado.productos[i].id %> "> 
						<figure class="product-box_image">
							<img src=" <%= listado.productos[i].imagen %>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= listado.productos[i].nombre %></h2>
							<p><%= listado.productos[i].descripcion %></p>
							<p><%= listado.productos[i].comentarios.length %></p>
						</article>
					</a>
				</section>
				</div>
			<% } %>
				
			
<!-- footer -->
<%- include("./partials/footer.ejs") %>
<!-- /footer -->
</body>	
</html>
