<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<body>
	<!-- Header -->
<%- include("./partials/header.ejs") %>

	<!-- product detail -->
	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			
			<h2 class="products-title"> <%= listado.nombre %> </h2> 
			<p class="product-detail-description">
				
				<a href="/productos/productAdd">Editar</a>

			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=listado.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= listado.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
							<% for( let i = 0; i < listado.comentarios.length; i++ ) { %>
							<article >
								<img src=" <%= listado.comentarios[i].imagenPerfil%> " alt="">
							<div class="data">
								<p class="user">
									<!-- recordar cambiar los profile.html a profile  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
								<strong> <a href="/users/profile"> <%= listado.comentarios[i].nombreUsuario%> </a> </strong>
								<%= listado.comentarios[i].textoComentario%></p>
							</div>
							</article>
							<% } %>
							
	
						
					</section>
					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>	
</html>