<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>

	<body>
		<!-- Header -->
		<%- include("./partials/header.ejs") %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form class="formularios" action="/users/register" method="POST" novalidate>
							<div>
								<label for="email">Email:</label>
								<input class="inputForm" type="email" id="email" name="email"
									value="<%= locals.old !== undefined && old.email  ? old.email:" " %>">
								<% if (locals.errors && errors.email) { %>
									<p class="feedback">
										<%= errors.email.msg %>
									</p>
									<% } %>
							</div>
							<!-- <div>
								<label for="usuario">Usuario:</label>
								<input class="inputForm" type="text" id="usuario" name="usuario">
								if (locals.errors && errors.usuario) { %>
									<p class="feedback">
										 errors.usuario.msg %>
									</p>
									
							</div> -->
							<div>
								<label for="contrasena">Contraseña:</label>
								<input class="inputForm" type="password" id="contrasena" name="contrasena">
								<% if (locals.errors && errors.contrasena) { %>
									<p class="feedback">
										<%= errors.contrasena.msg %>
									</p>
									<% } %>
							</div>
							<div>
								<label for="fechaNac">Fecha de Nacimiento:</label>
								<input class="inputForm" type="date" id="fechaNac" name="fechaNac">

							</div>
							<div>
								<label for="dni">Nro de Documento:</label>
								<input class="inputForm" type="number" id="dni" name="dni">

							</div>
							<div>
								<label for="fotoPerfil">Foto de Perfil (URL):</label>
								<input class="inputForm" type="text" id="fotoPerfil" name="fotoPerfil">

							</div>
							<button class="boton" type="submit">Registrar</button>
						</form>
					</h2>


					<!-- footer -->
					<%- include("./partials/footer.ejs") %>
						<!-- /footer -->
	</body>

</html>